@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
@using (Html.BeginForm("AddUser", "Admin"))
{
    <body>
        <div>

        </div>
    </body>
}
</html>
