#userlogin_body {
	padding-right: 0px; padding-left: 0px; BACKGROUND: url(images0/user_all_bg.gif) #226cc5 repeat-x 50% top; PADDING-BOTTOM: 0px; MARGIN: 110px 0px 0px; FONT: 12px/150% Arial, "ו" ,Helvetica,sans-serif; PADDING-TOP: 0px; TEXT-DECORATION: none
}
#user_login {
	padding-right: 0px; padding-left: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
#user_top {
	padding-right: 0px; padding-left: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
#user_main {
	padding-right: 0px; padding-left: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
#user_bottom {
	padding-right: 0px; padding-left: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
#user_login DL {
	padding-right: 0px; padding-left: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
#user_login DD {
	padding-right: 0px; padding-left: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
#user_top {
	padding-right: 0px; padding-left: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
#user_main {
	padding-right: 0px; padding-left: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
#user_bottom {
	padding-right: 0px; padding-left: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
#user_top UL {
	padding-right: 0px; padding-left: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
#user_main UL {
	padding-right: 0px; padding-left: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
#user_bottom UL {
	padding-right: 0px; padding-left: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
#user_top LI {
	padding-right: 0px; padding-left: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
#user_main LI {
	padding-right: 0px; padding-left: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
#user_bottom LI {
	padding-right: 0px; padding-left: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
FORM {
	padding-right: 0px; padding-left: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
#user_login {
	MARGIN: 0px auto; width: 590px
}
#user_top {
	CLEAR: both
}
#user_main {
	CLEAR: both
}
#user_bottom {
	CLEAR: both
}
#user_top LI {
	float:left; LIST-STYLE-TYPE: none
}
#user_main LI {
	float:left; LIST-STYLE-TYPE: none
}
#user_bottom LI {
	float: left; LIST-STYLE-TYPE: none
}
.user_top_r {
	BACKGROUND:url(images0/user_top_r.gif) no-repeat 50% top
}
.user_top_c {
	BACKGROUND:url(images0/user_top_c.gif) no-repeat 50% top
}
.user_top_l {
	BACKGROUND:url(images0/user_top_l.gif) no-repeat 50% top
}
.user_main_r {
	BACKGROUND:url(images0/user_main_r.gif) #bec5cc no-repeat 50% top
}
.user_main_c {
	BACKGROUND:url(images0/user_main_c.gif) #bec5cc no-repeat 50% top; width: 280px
}
.user_main_l {
	BACKGROUND:url(images0/user_main_l.gif) #bec5cc no-repeat 50% top
}
.user_bottom_r {
	BACKGROUND:url(images0/user_bottom_r.gif) no-repeat 50% top
}
.user_bottom_c {
	BACKGROUND:url(images0/user_bottom_c.gif) no-repeat 50% top; COLOR: #fff; LINE-height: 117px; PADDING-TOP: 20px; TEXT-ALIGN: right
}
.user_bottom_c A {
	COLOR: yellow; TEXT-DECORATION: underline
}
.user_bottom_c A:hover {
	COLOR: #c00
}
.user_bottom_l {
	BACKGROUND:url(images0/user_bottom_l.gif) no-repeat 50% top
}
.user_top_r {
	float: left; width: 180px
}
.user_main_r {
	float: left; width: 180px
}
.user_bottom_r {
	float: left; width: 180px
}
.user_main_c {
	float: left; width: 280px
}
.user_top_c {
	float: left; width: 280px
}
.user_bottom_c {
	float: left; width: 280px
}
.user_top_l {
	float: left; width: 129px
}
.user_main_l {
	float: left; width: 129px
}
.user_bottom_l {
	float: left; width: 129px
}
.user_top_r {
	height: 116px
}
.user_top_c {
	height: 116px
}
.user_top_l {
	height: 116px
}
.user_main_r {
	height: 139px
}
.user_main_c {
	height: 139px
}
.user_main_l {
	height: 139px
}
.user_main_r {
	LINE-height: 139px
}
.user_bottom_r {
	height: 117px
}
.user_bottom_c {
	height: 117px
}
.user_bottom_l {
	height: 117px
}
.user_main_box {
	padding-right: 0px; padding-left: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 4px
}
.user_main_box UL {
	padding-right: 0px; padding-left: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; height :38px;
}
.user_main_box LI {
	padding-right: 0px; padding-left: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.user_main_box UL {
	CLEAR: both
}
.user_main_box LI {
	float: left; LIST-STYLE-TYPE: none
}
.user_main_box .user_main_text {
	LINE-height: 34px; height: 34px
}
.user_main_box .user_main_input {
	LINE-height: 34px; height: 34px
}
.user_main_box .user_main_text {
	width: 60px; COLOR: #000
}
.user_main_box .user_main_input IMG {
	MARGIN-BOTTOM: -2px; MARGIN-LEFT: -25px
}
.TxtUserNameCssClass {
	BORDER-TOP-width: 0px; padding-left: 25px; BORDER-LEFT-width: 0px; BACKGROUND:url(images0/user_login_name.gif) no-repeat; BORDER-BOTTOM-width: 0px; width: 165px; LINE-height: 20px; height: 21px; BORDER-RIGHT-width: 0px
}
.TxtPasswordCssClass {
	BORDER-TOP-width: 0px; padding-left: 25px; BORDER-LEFT-width: 0px; BACKGROUND:url(images0/user_login_password.gif) no-repeat; BORDER-BOTTOM-width: 0px; width: 165px; LINE-height: 20px; height: 21px; BORDER-RIGHT-width: 0px
}
.TxtValidateCodeCssClass {
	BORDER-TOP-width: 0px; padding-left: 25px; BORDER-LEFT-width: 0px; BACKGROUND:url(images0/user_login_validatecode.gif) no-repeat;  BORDER-BOTTOM-width: 0px; width: 91px; LINE-height: 20px; height: 21px; BORDER-RIGHT-width: 0px
}
.IbtnEnterCssClass {
	width: 111px; height: 122px;background:url(images0/user_botton.gif) no-repeat;background-color:transparent;border:0
}
