@model datareporter.Entity.FTPInformation_Entity
@{
    Layout = null;
}

<!DOCTYPE html>
<link href="~/Content/layuiadmin/layui/css/layui.css" rel="stylesheet" media="all" />
<script src="~/Content/layuiadmin/layui/layui.js" media="all"></script>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <form class="layui-form layui-form-pane" lay-filter="formTest">
        <fieldset class="layui-elem-field layui-field-title" style="margin-top: 30px;">
            <legend>修改FTP信息</legend>
        </fieldset>
        <div class="layui-form-item" style="display:none">
            <div class="layui-input-inline">
                <input type="text" name="id" id="id" lay-verify="required" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label" style="width:130px">机构号</label>
            <div class="layui-input-inline">
                <input type="text" name="AgencyNo" readonly required lay-verify="required" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label" style="width:130px">FTP地址</label>
            <div class="layui-input-inline">
                <input type="text" name="FTPAddress" required lay-verify="required" placeholder="0.0.0.0" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label" style="width:130px">用户名</label>
            <div class="layui-input-inline">
                <input type="text" name="FTPUsername" required lay-verify="required" placeholder="请输入用户名" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label" style="width:130px">密码</label>
            <div class="layui-input-inline">
                <input type="text" name="FTPPassword" required lay-verify="required" placeholder="请输入密码" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label" style="width:130px">密钥</label>
            <div class="layui-input-inline">
                <input type="text" name="data_Key" required lay-verify="required" placeholder="请输入密钥" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-input-block">
            <button class="layui-btn" id="submit" lay-submit lay-filter="submit">确  定</button>
        </div>
    </form>
</body>


</html>
<script type="text/javascript">
    layui.use(['element', 'form', 'jquery'], function () {
        var form = layui.form
            , element = layui.element
            , $ = layui.$;
        //注意：parent 是 JS 自带的全局对象，可用于操作父页面
        var index = parent.layer.getFrameIndex(window.name); //获取窗口索引

        //从父层获取值，json是父层的全局js变量。eval是将该string类型的json串变为标准的json串
        var parent_json = eval('(' + parent.json + ')');
        $('id').hide();
        //给表单赋值
        form.val("formTest", { //formTest 即 class="layui-form" 所在元素属性 lay-filter="" 对应的值
            "id": parent_json.ID// "name": "value"
            , "AgencyNo": parent_json.AgencyNo
            , "FTPAddress": parent_json.FTPAddress
            , "FTPUsername": parent_json.FTPUsername
            , "FTPPassword": parent_json.FTPPassword
            , "data_Key": parent_json.data_Key

        });

        //监听提交
        form.on('submit(submit)', function (data) {

            $.ajax({
                url: '/Main/editftp',
                type: 'post',
                data: data.field,
                dataType: "html",
                success: function (data) {
                    var data = eval('(' + data + ')');//非常重要
                    if (data.code == 0) {
                        parent.layui.table.reload('idTest');
                        parent.layer.close(index);
                        parent.layer.alert(data.msg);
                    }
                    else {
                        layer.alert(data.msg);
                    }
                },
                error: function (e) {
                    layer.alert("提交失败！")
                },

            });
            return false;
        });
    });

</script>